# Git Configuration
[user]
	name = Sneakytheslider
	email = Sneakytheslider@gmail.com

# SSH Key for GitHub
[core]
	sshCommand = ssh -i /root/.ssh/github_ed25519 -o IdentitiesOnly=yes

# Default branch
[init]
	defaultBranch = main
